@import "tailwindcss";

@font-face {
  font-family: "DOS-V";
  src: url("/DOS-V.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IBM-Model3x";
  src: url("/IBM-Model3x.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  color: white;
  font-family: "DOS-V";
  image-rendering: pixelated;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  line-height: 1.2;

  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  font-size: 16px;
}

* {
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  text-rendering: optimizeSpeed;

  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div {
  transform: translateZ(0);
  backface-visibility: hidden;
}
